<%- include('layout/header'); -%>
<%- include('partials/nav'); -%>
<% var indexErr, indexVar = 0 %>
<main class="py-4 shadow">
    <div class="container">
    	<div class="d-flex justify-content-between align-items-center mb-3">
    		<h1 class="text-muted display-4">
    			<i class="material-icons md-48">translate</i> C# - Python
    		</h1>
    		<div>
				<a href="#" class="btn btn-secondary">
					<div class="d-flex align-items-center">
						<i class="material-icons md-18">folder_open</i>
						<span>&nbsp; Abrir</span>
					</div>
				</a>
				<a href="#" class="btn btn-secondary ">
					<div class="d-flex align-items-center">
						<i class="material-icons md-18">save_alt</i>
						<span>&nbsp; Guardar</span>
					</div>
				</a>
    		</div>
    	</div>


		<div class="row mb-3">

		  	<div class="col-sm-12 col-md-6 col-lg-7">
			    <div class="card">
				  	<div class="card-header">
			  			<div class="d-flex justify-content-between align-items-center mb-3">
			  				<h4 class="card-title mb-0">Entrada C#</h4>
			  				<div>
			  					<a href="#" class="btn btn-primary d-flex  align-items-center">
			  						<i class="material-icons md-18">tab</i><span>&nbsp;Nuevo</span>
			  					</a>
			  				</div>
			  			</div>

			    		<ul class="nav nav-tabs card-header-tabs">
			      			<li class="nav-item">
			        			<a class="nav-link active" href="#"><%= tabTitle %></a>
			      			</li>
			      			<!--<li class="nav-item">
			        			<a class="nav-link" href="#">Archivo2.cs</a>
			      			</li> -->
			      			<li class="nav-item">
					        	<a class="nav-link" href="#"><i class="material-icons">add</i></a>
					      	</li>
			    		</ul>
			  		</div>
			 		<div class="card-body">
			    		<form action="/translate" method="POST">
			    			<div class="form-group">
								<textarea name="entrada" class="form-control" id="entrada" rows="11" placeholder='Console.write("Hola Mundo!");'><% if (txtIn != "") { -%><%= txtIn %><% } -%></textarea>
			    			</div>
			    			<button type="submit" class="btn btn-primary d-flex align-items-center">
			    				<span>Traducir &nbsp;</span>
			    				<i class="material-icons">play_arrow</i>
			    			</button>
			    		</form>
			  		</div>
				</div>
		  	</div>

			<div class="col-sm-12 col-md-6 col-lg-5">
			    <div class="card">
			    	<div class="card-header">
			    		<h4>Salida Python</h4>
			    	</div>
				    <div class="card-body">
				        <form action="#">
				        	<div class="form-group">
				        		<textarea name="salida" id="salida" class="form-control" rows="15" placeholder='Print("Hola Mundo!")'></textarea>
				        	</div>
				        </form>
				    </div>
			    </div>
			</div>
		</div>

		<h1 class="text-muted display-4">
    		<i class="material-icons md-48">equalizer</i> Reportes
    	</h1>

		<div class="row mb-3">
			<div class="col-sm-12 col-12">
				<div class="accordion" id="acordionVariables">
					<div class="card">
				    	<div class="card-header" id="headingVariables">
				    		<div class="d-flex align-items-center justify-content-between">
				    			<h5 class="card-title mb-0 d-flex justify-content-between">
				    				<i class="material-icons md-20 text-primary">format_list_bulleted</i>
				    				&nbsp;
				    				<a href="#" data-toggle="collapse" data-target="#collapseVariables" aria-expanded="false" aria-controls="collapseVariables">Tabla de Variables</a>
        						</h5>
				    			<span class="text-primary">Variables <%= variables.length %></span>
				    		</div>
				    	</div>

				    	<div class="collapse hidden" id="collapseVariables" aria-labelledby="headingVariables" data-parent="#acordionVariables">
							<div class="card-body">
					      		<p class="lead">Variables encontradas en el análisis...</p>
						       <table class="table table-striped table-hover">
						       	<thead>
						       		<th scope="col">#</th>
						       		<th scope="col">Nombre</th>
						       		<th scope="col">Tipo</th>
						       		<th scope="col">Fila</th>
						       		<th scope="col">Columna</th>
						       	</thead>
						       	<tbody>
						       	<% if (variables.length != 0) { -%>
					       			<% var i = 1 -%>
						       		<% variables.forEach(variable => { %>
									<tr>
						       			<th scope="row"><%= i%></th>
						       			<td><%= variable.nombre %></td>
						       			<td><%= variable.tipo %></td>
						       			<td><%= variable.fila %></td>
						       			<td><%= variable.columna %></td>
						       		</tr>
						       		<% i++ -%>
						       		<% })%>
					       		<% } else { -%>
									<tr>
						       			<td  colspan="5"><p class="text-center text-primary">No se encontraron variables... :'(</p></td>
						       		</tr>
					       		<% } -%>


						       	</tbody>
						       </table>
					      	</div>
				    	</div>
				    </div>
				</div>
			 </div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-12 col-12">
				<div class="accordion" id="acordionHTMLJSON">
					<div class="card">
						<div class="card-header" id="headingHTMLJSON">
							<h5 class="card-title mb-0 justify-content-between">
								<i class="material-icons md-18 text-primary">code</i>

								<a href="#" data-toggle="collapse" data-target="#collapseHTMLJSON" aria-expanded="false" aria-controls="collapseHTMLJSON">Salida HTML & JSON</a>
							</h5>
						</div>

						<div class="collapse hidden" id="collapseHTMLJSON" aria-labelledby="headingHTMLJSON" data-parent="#acordionHTMLJSON">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-12 col-md-6">
										<div class="form-group">
											<label for="html"> HTML</label>
								    		<textarea name="html" id="html" class="form-control" placeholder="Salida HTML"><% if (html != "") { -%><%= html %><% } -%></textarea>
								    	</div>
									</div>
									<div class="col-sm-12 col-md-6">
										<div class="form-group">
											<label for="json"> JSON</label>
								    		<textarea name="json" id="json" class="form-control" placeholder="Salida JSON"></textarea>
								    	</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-12">
				<div class="accordion" id="acordionErrores">
					<div class="card">
				    	<div class="card-header" id="headingErrores">
				    		<div class="d-flex justify-content-between align-items-center">
				    			<h5 class="card-title mb-0 d-flex justify-content-between">
				    				<i class="material-icons md-20 text-primary">bug_report</i>
				    				&nbsp;
				    				<a href="#" data-toggle="collapse" data-target="#collapseErrores" aria-expanded="false" aria-controls="collapseErrores">Errores</a>
				    			</h5>
				    			<span class="text-primary">Léxicos & Sintácticos <%= errores.length %></span>
				    		</div>
				    	</div>

				    	<div class="collapse hidden" id="collapseErrores">
				    		<div class="card-body">
					      		<p class="lead">Reporte de errores léxicos y sintácticos encontrados durante el análisis del arvhico de entrada C#.</p>
						       <table class="table table-striped table-hover">
						       	<thead>
						       		<th scope="col">#</th>
						       		<th scope="col">Tipo de Error</th>
						       		<th scope="col">Línea</th>
						       		<th scope="col">Columna</th>
						       		<th scope="col">Descripción</th>
						       	</thead>
						       	<tbody>
					       		<% if (errores.length != 0) { -%>
					       			<% var i = 1 -%>
						       		<% errores.forEach(err => { %>
									<tr>
						       			<th scope="row"><%= i%></th>
						       			<td><%= err.tipo %></td>
						       			<td><%= err.fila %></td>
						       			<td><%= err.columna %></td>
						       			<td><%= err.contenido %></td>
						       		</tr>
						       		<% i++ -%>
						       		<% })%>
					       		<% } else { -%>
									<tr>
						       			<td  colspan="5"><p class="text-center text-primary">Felicidades no hay ningun error :)</p></td>
						       		</tr>
					       		<% } -%>
						       	</tbody>
						       </table>
					      	</div>
				    	</div>
				    </div>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-12">
				<div class="accordion" id="acordionAST">
					<div class="card">
						<div class="card-header" id="headingAST">
							<h5 class="card-title mb-0 justify-content-between">
								<i class="material-icons md-18 text-primary">account_tree</i>
								<a href="#" data-toggle="collapse" data-target="#collapseAST" aria-expanded="false" aria-controls="collapseAST">AST</a>
							</h5>
						</div>
						<div class="collapse hidden" id="collapseAST" aria-labelledby="headingAST" data-parent="#acordionAST">
							<div class="card-body">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
<%- include('layout/footer'); -%>
